@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <a style="text-decoration:none;" href="/Home/TeklifEKle">
                <div style="color:white;background-color:orange;font-size:29px;text-align:center;height:350px;width:400px;border-radius:25px;">
                    <p style="padding-top:150px;padding-bottom:150px;">TEKLİF EKLE</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a style="text-decoration:none;" href="/Home/Teklifler">
                <div style="color:white;background-color:blue;font-size:29px;text-align:center;height:350px;width:400px;border-radius:25px;">
                    <p style="padding-top:150px;padding-bottom:150px;">Teklif Ara</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a style="text-decoration:none;" href="/Home/TeslimYerleriTipleri">
                <div style="color:white;background-color:green;font-size:29px;text-align:center;height:350px;width:400px;border-radius:25px;">
                    <p style="padding-top:150px;margin-top:5px;padding-bottom:150px;">Teslim Yerleri Tipleri</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a style="text-decoration:none;" href="/Home/BuyuklukTipleri">
                <div style="color:white;background-color:red;font-size:26px;text-align:center;height:350px;width:400px;border-radius:25px;">
                    <p style="padding-top:150px;margin-top:5px;padding-bottom:150px;">Büyüklük Tipleri -  m3/h,mm/s,m/s,HP,dB,mm,kg,d/d</p>
                </div>
            </a>
        </div>
    </div>
</div>
