
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <center>
                        <input name="name" type="text" placeholder="Adı Soyadı" />
                        <hr />
                        <input name="phone" type="text" placeholder="Telefon Numarası" />
                        <hr />
                        <input name="mail" type="text" placeholder="Mail Adresi" />
                        <hr />
                        <input type="submit" value="Kaydet" />
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>