
@{
    ViewBag.Title = "SuccessResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:250px;" class="alert alert-success">
    <strong>Kaydınız Başarılı!</strong> Eklemiş olduğunuz kaydı görüntülemek/yazdırmak için <a href="/Home/TeklifGoruntuleTR/@ViewBag.id"><b>Tıklayınız</b></a>
</div>